@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
    --color-foreground-50: #f6f7f9;
    --color-foreground-100: #ecedf2;
    --color-foreground-200: #d5d8e2;
    --color-foreground-300: #b0b5c9;
    --color-foreground-400: #858dab;
    --color-foreground-500: #667091;
    --color-foreground-600: #515878;
    --color-foreground-700: #434861;
    --color-foreground-800: #3a3f52;
    --color-foreground-900: #333646;
    --color-foreground-950: #22242f;

    --color-background-50: #fcf7f4;
    --color-background-100: #f9ede7;
    --color-background-200: #f5e1d6;
    --color-background-300: #ecc9b5;
    --color-background-400: #dfa88a;
    --color-background-500: #cf8a64;
    --color-background-600: #ba7048;
    --color-background-700: #9c5c39;
    --color-background-800: #824e32;
    --color-background-900: #6d452f;
    --color-background-950: #3a2215;

    --color-primary-50: #eefff6;
    --color-primary-100: #d7ffed;
    --color-primary-200: #b2ffdd;
    --color-primary-300: #76ffc3;
    --color-primary-400: #33f5a1;
    --color-primary-500: #09de82;
    --color-primary-600: #00af64;
    --color-primary-700: #049156;
    --color-primary-800: #0a7146;
    --color-primary-900: #0a5d3c;
    --color-primary-950: #003420;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
    cursor: url("svgs/cursor_auto.svg"), auto;
}

:root.cursor-clicked {
    cursor: url("svgs/cursor_click.svg"), auto;
}

::selection {
    @apply bg-primary-500/75 text-background-50;
}

.dark ::selection {
    @apply text-foreground-900;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

body {
    @apply bg-background-100 text-foreground-900 dark:bg-foreground-950 dark:text-background-50;

    font-family: "Exo 2", "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

body::after {
    content: "";

    inset: 0;
    position: fixed;

    z-index: -1;
    opacity: 0.2;

    background-image: linear-gradient(#00af64 1.5px, transparent 1.5px),
        linear-gradient(to right, #00af64 1.5px, transparent 1.5px);
    background-size: 30px 30px;
}

:root:not(.cursor-clicked) :is(button, a) {
    cursor: url("svgs/cursor_pointer.svg"), pointer;
}

button:not([data-variant="ghost"]) {
    @apply bg-primary-500/25 hover:bg-primary-500/50 p-2 rounded-md transition-colors;
}

:root:not(.cursor-clicked) :is(p, h1, h2, h3, h4, h5, h6) {
    cursor: url("svgs/cursor_text.svg"), text;
}

:root:not(.cursor-clicked) :is(:disabled, [data-disabled="true"]) {
    cursor: url("svgs/cursor_disabled.svg"), not-allowed;
}
